<div class="container about-box">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="text-center mb-5">
        <h1 class="mt-5">family_connect</h1>
        <p>
          離れて暮らす祖父母と家族を繋ぐSNSサイト<br>​

          テーマを選んだ理由<br>

          現代社会において、少子高齢化が進み、高齢者のひとり暮らしが増加しています。<br>
          特に離れて暮らす祖父母の健康や生活状況を把握することが難しく、これに対する課題を抱えていました。<br>
          その解決策として、高齢者にも使いやすいコミュニケーション支援サービスを提供するアイデアを考案しました。<br>

          キーボード入力が苦手な高齢者にも利用しやすい、<br>
          シンプルかつ直感的なデザインで、操作しやすく、<br>
          例文の簡易送信を使用することで、使いやすさを追求しました。<br>

          このツールを使うことで、離れて暮らす家族が状況を把握しやすく、<br>
          アプリを通じて家族が繋がり、心配事を減らすことにも繋がると考えて、このテーマにしました。<br>
        </p>
        <!--イメージ画像-->
        <%= image_tag asset_path('bear.jpg'), class: "rounded-circle w-100", alt: "image" %>
      </div>
    </div>
  </div>
</div>