<!--チャットの一覧画面-->

<div class="text-center my-4">
  <h2 class="mb-0">ルーム一覧</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <% if !@chat_partners.empty? %>
            <div class="list-group">
              <% @chat_partners.each do |chat_partner| %>
                <div class="list-group-item d-flex align-items-center">
                  <%= image_tag chat_partner.get_profile_image(80, 80), class: "mr-3 rounded-circle", alt: "#{chat_partner.name}さんのプロフィール画像" %>
                  <div>
                    <h5 class="mb-0">
                      <%= link_to "#{chat_partner.name}さんとのトークルーム", "/chats/#{chat_partner.id}" %>
                    </h5>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="text-center">トークルームはありません</p>
          <% end %>
        </td>
        <td class="align-middle">
          <!-- レイアウトが整っている場合に更新日時を表示する -->
          <!-- <h6 class="text-muted"><%#= chat.updated_at.strftime("%Y/%m/%d %H:%M") %></h6> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ログインページへのリンクやログアウトボタンのコードはコメントアウト -->
<!-- <%= link_to("ログインページへ", "/") %> -->
<!-- <%= link_to("ログアウトする", "/users/sign_out", method: :delete) %> -->