@use '~bootstrap/scss/bootstrap';

/*トークルーム一覧*/
.rooms {
  margin: 0 auto;
  background-color: #fdfdfd;
  border: 2px solid #eee;
  padding: 1em 2em;
}

/*チャットの吹き出し*/
#chats {
  padding: 20px 10px;
  max-width: 450px;
  margin: 0 auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
}

.fukidasi p {
  display: inline-block;
  position: relative;
  margin: 0 10px 10px 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: white;
  font-size: 15px;
}

.image-circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.image-circle2{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.image-circle3{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

// .fukidasi .faceicon {
//   float: left;
//   margin-right: -50px;
//   width: 40px;
// }

.fukidasi .chatting {
  width: 100%;
  text-align: left;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid transparent;
  border-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

// .says p {
//   margin: 0;
//   padding: 0;
// }

.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 10px 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e825;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  boder: 8px solid transparent;
  border-left: 18px solid #30e825;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

/*送信フォーム*/
#send-form {
  text-align: center;
  margin-bottom: 200px;
}

.faceicon-left {
  text-align: left;
}

.faceicon-right {
  text-align: right;
}

.flash-message-notice {
  font-size: 35px;
  background-color: #B0EEFA;
}

.flash-message-alert {
  font-size: 35px;
  background-color: #FFBFA3;
}

/* ページネーション自体のデザイン */
.pagination > li > a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff;
  border-radius: 15px;
}

/* ホバー時のデザイン */
.pagination > li > a:hover {
  border-radius: 15px;
}

header {
  width: 100%;
  height: 100%;
  background-color: #E6F4F1;
}

main {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  background-color: #FFF;
}

footer {
  min-height: 50px;
  background-color: #E6F4F1;
}


.original-btn {
  background-color: #FFDF82;
  border: 8px solid #FFDF82;
  border-radius: 5px;
  width: 100px;
  font-weight: bold; /* ボタンのテキストの太さ */
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.hanareru-btn {
  background-color: #49D698;
  border: 8px solid #49D698;
  border-radius: 5px;
  width: 100px;
  font-weight: bold; /* ボタンのテキストの太さ */
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.tunagaru-btn {
  background-color: #FB9038;
  border: 8px solid #FB9038;
  border-radius: 5px;
  width: 100px;
  font-weight: bold; /* ボタンのテキストの太さ */
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.show-btn {
  background-color: #F5B3C2;
  border: 8px solid #F5B3C2;
  border-radius: 5px;
  width: 100px;
  font-weight: bold; /* ボタンのテキストの太さ */
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.new-img {
  width: 400px;
  object-fit: cover;
}