/* ページネーション自体のデザイン */
.pagination > li > a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff;
  border-radius: 15px;
}

/* ホバー時のデザイン */
.pagination > li > a:hover {
  border-radius: 15px;
}

header {
  width: 100%;
  height: 100%;
  background-color: #A8DF8E;
}

main {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
 /*background-color: #F3FDE8;*/
}

footer {
  min-height: 50px;
  /*background-color: #FFE5E5;*/
}