<!--ログインしているユーザーのマイページ-->
<div class="container">
  <div class="row my-3">
    <div class="col-4">
      <%= render partial: "info", locals: { user: @user }%>
    </div>
    <div class="col-4 offset-1 col-7">
      <%= render 'friends', users: @users %>
    </div>
  </div>
</div>


