<!--他のユーザーのマイページ-->

<div class="container">
  <div class="row my-3">
    <div class="col-lg-4 col-md-6">
      <%= render partial: "info2", locals: { user: @user }%>
    </div>
    <div class="col-lg-8 col-md-6">
      <% if current_user == @user %>
        <%= render 'friends', users: @users %>
      <% else %>
        <%= render 'list', posts: @posts %>
      <% end %>
    </div>
  </div>
</div>